<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li>
				{{name}} ({{email}})
				<form action="/edit/{{id}}" method="get">
					<input type="submit" value="Edit">
				</form>
				<form action="/users/confirm/{{id}}" method="get">
    			<input type="submit" value="Delete">
				</form>
			</li>
    {{/each}}
    </ul>
  </body>
</html>
